{% load static %}

<style>

#info {
    font-family: Verdana;
    border: 5px solid yellowgreen;
    border-radius: 5px;
    height: 300px;
    width: 600px;
    display: flex;
    vertical-align: left;

    
}
#placeholder{
    position:absolute;
    left: 70px;
    bottom: 200px;
    width: 400px;
    height: 200px;
    color: black;
}
#SPlogo{
    justify-content: center;
    position:relative; 
    top:10px;
}
</style>
<head>
    <title>CPE Info:</title>
    
    <link rel="icon" href="{% static 'doge.png' %}">
   
</head>


<body>

<div id="SPlogo">
<img src="{% static 'SPlogo.jpg' %}" />
</div>
<br>

{% block content %}
{% endblock %}

<!-- <script type="text/javascript" src="/displayinfo.js"></script>-->

{% block script1 %}
{% endblock %}

{% block graphs%}
{% endblock graphs%}



</body>
</html>

