{% extends "polls/base.html" %}

{% load static %}


{% block title %}
{{ section.title }}
{% endblock %}


{% block script1 %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="{% static 'flot/excanvas.min.js' %}"></script>
<script src="{% static 'flot/jquery.flot.min.js' %}"></script>
 <script src="{% static 'flot/jquery.flot.min.js' %}"></script>
<script src="{% static 'flot/jquery.flot.time.js' %}"></script>    
<script src="{% static 'flot/jquery.flot.symbol.js' %}"></script>
<script src="{% static 'flot/jquery.flot.axislabels.js' %}"></script>

 
<script>


   $(function() {
    //getinit();
    startRefresh();
    });

function startRefresh() {
      setTimeout(startRefresh,5000);
      foo();
      baz();
    };

    function foo() {
      
      var data = $.ajax(
        {url:"/status/",
        type: "GET",
        data: {IP: new URLSearchParams(window.location.search).get("IP")},
        beforeSend: function(data, settings) {
        },
        success: function(data){

        document.getElementById("distance").innerHTML = "Distance from tower: " + data.distance + " lightyears";
        document.getElementById("signal").innerHTML = "Signal Strength: " + data.signal;
        document.getElementById("hostname").innerHTML = "Customer Name: " + data.hostname;
        
      }});
    }
function baz() {
      
      var data = $.ajax(
        {url:"/rates/",
        type: "GET",
        data: {IP: new URLSearchParams(window.location.search).get("IP")},
        beforeSend: function(data, settings) {
        },
        success: function(data){
        document.getElementById("uptime").innerHTML = "It has been: " + data.uptime + " years since the CPE was last powercycled";
        
      }});
    }
</script>

<div1 id="hostname" name="dev">Loading...</div1> 
<div2 id="distance" name="dev">Loading...</div2> 
<div3 id="signal"   name="dev">Loading...</div3> 
<div4 id="uptime"   name="dev">Loading...</div4> 
 



{% endblock script1 %}

{% block graphs %}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="{% static 'flot/excanvas.min.js' %}"></script>
<script src="{% static 'flot/jquery.flot.min.js' %}"></script>
 <script src="{% static 'flot/jquery.flot.min.js' %}"></script>
<script src="{% static 'flot/jquery.flot.time.js' %}"></script>    
<script src="{% static 'flot/jquery.flot.symbol.js' %}"></script>
<script src="{% static 'flot/jquery.flot.axislabels.js' %}"></script>

<script>
var data = [];
var dataset;
//var totalPoints = 100;
//var updateInterval = 1000;
var now = new Date().getTime();
var current;


function GetData() {
    data.shift();
  $.ajaxSetup({ cache: false });

        $.ajax({
        url:"/rates/",
       // dataType: 'json',
        type: "GET",
        data: {IP: new URLSearchParams(window.location.search).get("IP")},
        beforeSend: function(data, settings) {},
        success: function(jdata){
        
                
  if (typeof(last) == 'undefined') {
  last = jdata.uptime
  }
  current = jdata.uptime - last 
  //last = _data.uptime
  //now += updateInterval

if (typeof(lastTX) == 'undefined'){
    lastTX = jdata.TX
    }
  currentTX = jdata.TX - lastTX
  lastTX = jdata.TX
  console.log(currentTX)


        var temp = [jdata.uptime, currentTX];
        data.push(temp);
    
     
if (typeof(lastRX) == 'undefined'){
lastRX = jdata.RX
}
currentRX = jdata.RX - lastRX
lastRX = jdata.RX
//console.log(currentRX)


    var temp = [jdata.uptime, currentRX];
    data.push(temp);

    },       
    });
    
};

       


var options = {    //position: "sw",
    series: {
        lines: {
            show: true,
            lineWidth: 1.2,
            fill: true
        }
    },
    xaxis: {
       min: 0,
        max: 100,      
//        tickSize: 5,
//        tickFormatter: function (v, axis) {
//            if (v % 10 == 0) {
//                return v;
//            } else {
//                return "";
//            }
//        },
// changed a bunch of stuff here

        axisLabel: "Time",
        axisLabelUseCanvas: true,
        axisLabelFontSizePixels: 12,
        axisLabelFontFamily: 'Verdana, Arial',
        axisLabelPadding: 10
 
    },
    yaxis: {
        min: 0,
        max: 100,      
        tickSize: 5,
        tickFormatter: function (v, axis) {
            if (v % 10 == 0) {
                return v + "%";
            } else {
                return "";
            }
        },

        axisLabel: "RX/TX values",
        axisLabelUseCanvas: true,
        axisLabelFontSizePixels: 12,
        axisLabelFontFamily: 'Verdana, Arial',
        axisLabelPadding: 6
    },
    legend: {        
        labelBoxBorderColor: "#fff"
    },
    grid: {                
        backgroundColor: "#000000",
        tickColor: "#008040"
    }
};

$(document).ready(function () {
    GetData();

    dataset = [
        { label: "TX", data: data, color: "#00FF00" },
        //{label: "RX", data:data, color: "#00ff00"}
    ];

    $.plot($("#flot-placeholder1"), dataset, options);

    function update() {
        GetData();

        $.plot($("#flot-placeholder1"), dataset, options)
        setTimeout(update, current);
    }

    update();
});



</script>
<!-- HTML -->
<div id="flot-placeholder1" style="width:550px;height:300px;margin:0 auto; position:absolute"></div>
{% endblock graphs%}

