{% extends "polls/base.html" %}

{% block title %}
{{ section.title }}
{% endblock %}


{% block script1 %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
Below we are parsing the query string for the IP address you gave us in the previous page,
and using that IP address to look up the right CPE manager on the back end. <br><br>

<script>

  
    function foo() {
      var my_var = new URLSearchParams(window.location.search);
        console.log(my_var.toString())
      var data = $.get( "/status" + my_var + '/', function(data) 
      {
        console.log(data);
        document.getElementById("distance").innerHTML = data.distance;
        document.getElementById("signal").innerHTML = data.signal;
        document.getElementById("hostname").innerHTML = data.hostname;
      });
    }
      window.onload = foo;


</script>

<h3>Customer Name: </h3>
<div id="hostname" name="dev"></div> 

<h3>Distance from Tower: </h3>
<div id="distance" name="dev"></div> 

<h3>Signal Strength: </h3>
<div id="signal" name="dev"></div> 

{% endblock script1 %}

{% block testscript%}
<script type="text/javascript">
    $(document).ready(function() {
        var url = data.result.docs[i].source.enriched.url.url;
        var my_var = new URLSearchParams(window.location.search);
        $window.onload(function() {
            $.ajax({
                url: "/status",
                type: "POST",
                dataType: "json",
                data: {
                    url: my_var,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                success : function(json) {
                    alert("Successfully sent the URL to Django");
                },
                error : function(xhr,errmsg,err) {
                    alert("Could not send URL to Django. Error: " + xhr.status + ": " + xhr.responseText);
                }
            });
        });
    });
</script>
{% endblock testscript%}

